@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .filterHead{
        @apply flex flex-col gap-0 justify-center text-center items-center bg-bg-transparent text-white rounded-lg w-full absolute transition-all ease-in-out duration-200 border border-bd-grey z-[200]
    }
    .filterShow{
        @apply top-12 sm:top-16
    }
    .filterHide{
        @apply top-[-50rem]
    }
    .filterItem{
        @apply cursor-pointer px-5 py-3 inline-block w-full hover:bg-bd-grey peer-checked:bg-bd-grey
    }
    .filterLabel{
        @apply flex gap-2 h-full items-center w-full justify-between text-center hover:border-white/80 pl-2 md:pl-4
    }
    .filterBoxWrapper{
        @apply flex mt-4 mb-4 text-white text-sm md:text-base sm:pr-10 gap-3 justify-start items-center flex-wrap
    }
    .item-card{
        box-shadow: rgba(0,0,0,0.8),0 4px 6px rgba(0,0,0,.04);
    }
    .item-card{
        @apply h-28 w-28 rounded-lg border border-bd-grey bg-bg-transparent cursor-pointer hover:border-white/80;
    }
    .filter-span{
        @apply w-full bg-white text-black py-2 rounded-t-lg font-bold
    }
    .remove-arrow::-webkit-inner-spin-button, 
    .remove-arrow::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    } 
    .remove-arrow { 
        -moz-appearance: textfield; 
    }
    .input-form{
        @apply bg-bg-transparent border border-bd-grey rounded-lg focus:border-gray-600
    }
    .refine-box{
        @apply mb-3 mx-auto text-white w-[95%] overflow-auto min-h-[70vh]
    }
    input[name="recipe-radio"]:checked + label{
        @apply bg-bd-grey
    }
    body{
        @apply font-jetbrains
    }
}



/* bg-gradient-to-br from-bg-purple from-10% to-bg-purple-dark to-90% */